.page-header {
    align-items: center;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.page-header__item {
    display: inline-block;
    margin: 10px;
}

.page-header__item:first-child {
    margin-left: 0;
}

.page-header__link {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    transition: all .2s ease-out;
}

.page-header__link:hover, .page-header__link_active {
    color: var(--text-accent) !important;
}

.page-content {
    grid-column: 1;
    grid-row: 2;
}

.page-content__section {
    color: var(--text-primary);
    font-size: 14px;
    line-height: 16px;
}

.page-content__section:not(:last-child) {
    margin-bottom: 10px;
}
