.header {
    align-items: center;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.header__item {
    display: inline-block;
    margin: 10px;
}

.header__item:first-child {
    margin-left: 0;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    transition: var(--change-delay) ease-out;
}

.header__link:hover, .header__link_active {
    color: var(--text-accent) !important;
}
