@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");

:root[data-theme="light"] {
    --background-color: #f7f7ff;
    --text-accent: #007fff;
    --text-primary: #080708;
}

:root[data-theme="dark"] {
    --background-color: #131515;
    --text-accent: #cf5c36;
    --text-primary: #e9eceb;
}

:root[data-theme="dark"] img[src*="svg"] {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(136deg) brightness(101%) contrast(102%);
}

::selection {
    background: var(--text-primary);
    color: var(--background-color);
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background: var(--background-color);
    font-family: "Roboto Mono", "Ubuntu", sans-serif;
    margin: 0;
    transition: all .2s ease-out;
}

img {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: var(--text-accent);
    text-decoration: none;
    transition: .2s ease-out;
}

a:hover {
    color: var(--text-primary);
}

.main-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-left: 10vw;
    margin-top: 10vh;
    max-width: 80vw;
    position: relative;
    width: 620px;
}

.page-header {
    align-items: center;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.page-header__item {
    display: inline-block;
    margin: 10px;
}

.page-header__item:first-child {
    margin-left: 0;
}

.page-header__link {
    color: var(--text-primary);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    transition: all .2s ease-out;
}

.page-header__link:hover, .page-header__link_active {
    color: var(--text-accent) !important;
}

.page-content {
    grid-column: 1;
    grid-row: 2;
}

.page-content__section {
    color: var(--text-primary);
    font-size: 14px;
    line-height: 16px;
}

.page-content__section:not(:last-child) {
    margin-bottom: 10px;
}

/* -- animations -- */
.fade-animation-enter {
    opacity: 0;
}

.fade-animation-enter.fade-animation-enter-active {
    opacity: 1;
    transition: all .2s ease-out;
}

.fade-animation-exit {
    opacity: 1;
}

.fade-animation-exit.fade-animation-exit-active {
    opacity: 0;
    transition: all .2s ease-out;
}

.rotate-animation-enter {
    transform: rotate(45deg);
}

.rotate-animation-enter.rotate-animation-enter-active {
    transform: rotate(0);
    transition: all .2s ease-out;
}

.rotate-animation-exit {
    transform: rotate(0);
}

.rotate-animation-exit.rotate-animation-exit-active {
    transform: rotate(-45deg);
    transition: all .2s ease-out;
}

/* -- theme switcher -- */
.theme-switcher {
    cursor: pointer;
    display: flex;
    margin-left: auto;
}
