@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
@import url("animations.css");

:root[data-theme="light"] {
    --background-color: #f7f7ff;
    --change-delay: 200ms;
    --text-accent-rgb: 0, 127, 255;
    --text-accent: #007fff;
    --text-primary: #141414;
}

:root[data-theme="dark"] {
    --background-color: #141414;
    --change-delay: 200ms;
    --text-accent-rgb: 204, 90, 51;
    --text-accent: #cc5a33;
    --text-primary: #e6e6e6;
}

:root[data-theme="dark"] img[src*="svg"] {
    filter: invert(100%) sepia(0%) saturate(617%) hue-rotate(210deg) brightness(112%) contrast(80%);
}

:root[data-theme="light"] img[src*="svg"] {
    filter: invert(9%) sepia(7%) saturate(22%) hue-rotate(1deg) brightness(92%) contrast(102%);
}

::selection {
    background: var(--text-primary);
    color: var(--background-color);
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}

body {
    background: var(--background-color);
    font-family: "Roboto Mono", "Ubuntu", sans-serif;
    margin: 0;
    transition: var(--change-delay) ease-out;
}

img {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: var(--text-accent);
    text-decoration: none;
    transition: var(--change-delay) ease-out;
}

a:hover {
    color: var(--text-primary);
}

/* -- main -- */
.main-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin: 10vh 10vw;
    max-width: 80vw;
    position: relative;
    width: 620px;
}

.content {
    grid-column: 1;
    grid-row: 2;
}

.content__section {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: justify;
    transition: var(--change-delay) ease-out;
}

.content__section:not(:last-child) {
    margin-bottom: 10px;
}
